<h1>Signup</h1>
<form {{action signup model on="submit"}}>
  <p class="form-field">
    <label>Email</label>
    {{input type="text" placeholder="Email" value=model.email}}
  </p>

  <p class="form-field">
    <label>Username</label>
    {{input type="text" placeholder="Username" value=model.username}}
  </p>

  <p class="form-field">
    <label>Password</label>
    {{input type="password" placeholder="Password" value=model.password}}
  </p>

  <p class="form-field">
    <label>Confirm Password</label>
    {{input type="password" placeholder="Confirm Password" value=model.password2}}
  </p>

  <button>Signup</button>
</form>

<h1>Already a member?</h1>
<button>{{#link-to "members.login"}}Login{{/link-to}}</button>
